.inpt_pesquisa{
  max-width: 900px;
  margin-right: 0;
  float: left;
}
.btn_pesquisa{
  background: #0071BC;
  margin: 0 0 0 0;
  padding: 9px;
}
#mascara {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  height:100%;
  width:100%;
  opacity:0.8;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; 
  background: #000000;
}
#intro{
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  height:100%;
  width:100%;
  /*opacity:0.9;*/
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; 
  background: #FFFFFF;
}